@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.Main {
    position: absolute;
    top:0;
    left:2vw;
    height: 100vh;
    border-right: 1px solid #9191918f ;
    width:79vw;
    /* Alignement central */
}
.infoSection{
    display: flex;
}
.btn-seeALl{
    position: absolute;
    top:60vh;
    left: 67vw;
    margin: 1.66em 0;
    background-color:white ; /* Primary background color */
    color:rgb(97, 97, 97); /* White text or icon color */
    font-size: 14px; /* Adjust font size for content */
    cursor: pointer; /* Indicates button is clickable */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adds subtle shadow */
    transition: all 0.3s ease;
    border: 1px solid rgb(97, 97, 97);
    border-radius:16px;
    padding:.33em 1.33em .33em 1.33em;
}
.Title {
    display: block;
    margin-left: 2em; /* Alignement */
    padding-left: 1.66em;
    font-size: 1.5rem; /* Taille de la police */
    font-weight: 600;
    position: absolute;
    top: 60vh;
    left:13vw;
    width: 400px; /* Position verticale */
}

.container {
    position: absolute;
    top: 64vh; /* Position pour une meilleure hiérarchie */
    left: 13vw; /* Centrer horizontalement */ /* Centrage */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 67vw;
    height: auto;
    max-width: 70vw; /* Largeur ajustée */
    scrollbar-width: none; /* Pour Firefox */
    -ms-overflow-style: none; 
    transform: scale(0.85);

}

.carts{

    margin-bottom: 1.66em;
    margin:1.1em;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 250px; /* Fixed width */
        height: 260px; /* Allow height to adjust naturally */
         /* Adjust padding to make content fit better */
        box-sizing: border-box; /* Ensure padding doesn't affect width/height */
        overflow: hidden; 
      /* Ensure content doesn't overflow */

    

}
.details .TitleMovies{
 
color : white;
font-size: 16pt;
font-weight: 500;

margin-top: 110px;

}
.TitleMovies .titleFilm{
    text-align: start;
    margin-left: .33em;

}

.ImgMovie {
    position: relative;
    width: 100%; /* Largeur complète */
    height: 100%; /* Hauteur ajustée */
    border-radius: 16px; /* Coins arrondis */
    object-fit: cover; /* Ajustement de l'image */
   /* Espacement */
   z-index: -999999999999999999;
}

.RateMovie {
    display: flex;
    position: absolute; /* Position absolue pour le placement précis */
    top: 15px; /* Position du haut */
    left: 10px; /* Position de gauche */
    background-color: #fff;
    padding: 4px;
    text-align: center; /* Alignement centré */
    width: 45px; /* Largeur ajustée */
    height: 18px; /* Hauteur ajustée */
    border-radius: 12px; /* Coins arrondis */
    justify-content: center;
    align-items: center;
    font-size: 14px; /* Taille de police */
    color: #333;
}
.details{
    margin: 0.33em;
  


}
.btn-FavoriteContainer{
    position: relative;
    left: 100%;
    margin-left: 100%;

}

.genreMovieContainer{
    display: flex;
  width:auto;
 position: relative;
 top: -45px;
bottom: 80px;
color: white;
}
 .genreFilm{
    display: block;
    z-index: 100000000;
    width: auto;
    padding-left: .33em;
    padding-right: .33em;
    margin-top: 10px;
}
.genre{
    margin-top:1em ;
    padding: .33em;
}
.heartIcon {
    position: absolute; /* Position absolue pour le placement précis */
    top: 5px; /* Position du haut */
    right: 5px; /* Position à droite */
    color: #e63946; /* Couleur rouge */
    font-size: 16pt; /* Taille de l'icône */
}

.Input {
    position: fixed;
    display: flex;
    top: 2vh;
    left:84vw;
    max-width: 25vw;
}

.Input-Text {
    width: 140px; /* Taille réduite */
    height: 28px; /* Hauteur ajustée */
    border: 1px solid grey;
    border-radius: 24px;
    padding: 0 0.5em;
    font-size: 14px;
}

.Input-Text::placeholder {
    font-weight: 500;
}

.Input-search {
    position: relative;
    left: -2vw; /* Alignement */
}

.input-searchIcon {
    background: none;
    border: none;
    padding: 0.33em;
    padding-top: 0.50em;
    font-weight: 200;
}

.iconSearch {
    font-weight: 300;
}
/* Button */
.btn-LoadMovies{
    z-index: 9999999;
    width: 100px;
    height: 40px;
    color: white;
    font-weight: 400;
    background-color: #8B5DFF;
    border:none;
    border-radius: 16px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
}
/* Base styling for the button container */
.btn-Watch{
    position: relative;
    bottom:365px;
    left:180px;

}

/* Styling for the circular button */
.btn-WatchFilm {
    display: inline-flex; /* Centers content inside */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    margin-top: 0.66em; /* Adds vertical spacing */
    padding: 0.6em; /* Slightly larger padding for better usability */
    width: 40px; /* Fixed size for the button */
    height: 40px; /* Makes it a perfect circle */
    border-radius: 50%; /* Ensures circular shape */
    border: none; /* Removes default border */
    background-color:#8B5DFF ; /* Primary background color */
    color:white; /* White text or icon color */
    font-size: 14px; /* Adjust font size for content */
    cursor: pointer; /* Indicates button is clickable */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adds subtle shadow */
    transition: all 0.3s ease; /* Smooth animations for hover effects */
}

.btn-FavoriteContainerHome{
    position : relative;
    top:4%;
    left: 80%;
}
.btn-favoriteHome{
    margin:  .33em;
    border-radius: 50%; /* Forme circulaire */
    background: rgba(255, 255, 255, 0.3); /* Fond semi-transparent */
    backdrop-filter: brightness(0.9) blur(4px); /* Effet de luminosité et de flou */
    -webkit-backdrop-filter: brightness(0.9) blur(9px); /* Compatibilité avec Safari */
    width: 30px; /* Largeur de l'élément */
    height: 30px; /* Hauteur de l'élément */
    color: white; /* Couleur du texte */ /* Espacement interne */
    border: 1px solid white; /* Bordure blanche */
    font-size: 20pt; /* Taille de la police */
    text-align: center;
    display: inline-flex; 
    font-weight: 300;
    align-items: center;/* Alignement du texte */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer; 
    position: relative;
    left: 80%;
    top:-40px;
    margin-bottom: 40px;/* Ombre légère */
}
/* Hover effect */
/* carts hover style  */
/* Focus effect for accessibility */
/* Coming soon style */
.TitleComingSoon{
    display: block;
    margin-left: 2em; /* Alignement */
    padding-left: 1.66em;
    font-size: 1.5rem; /* Taille de la police */
    font-weight: 600;
    position: relative;
    top: 115vh;
    left:13vw;
    width: 400px; /* Position verticale */
}
.containerComingSoon{
    position: absolute;
    top: calc(64vh + 55vh); /* Place cette section en dessous de la première */
    left: 11.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 70vw;
    height: auto;
    max-width: 70vw;
    transform: scale(0.85);
    scrollbar-width: none; /* Pour Firefox */
    -ms-overflow-style: none; 
}

.CartsMoviesComingSoon{
    display: flex;
    margin-bottom: 1.66em;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px; /* Fixed width */
    height: 280px; /* Allow height to adjust naturally */
         /* Adjust padding to make content fit better */
    box-sizing: border-box; /* Ensure padding doesn't affect width/height */
        
}
.RateMovieComingSoon{
    display: flex;
    /* Position de gauche */
    background-color: #fff;
    padding: 4px;
    text-align: center; /* Alignement centré */
    width: 45px; /* Largeur ajustée */
    height: 18px; /* Hauteur ajustée */
    border-radius: 12px; /* Coins arrondis */
    justify-content: center;
    align-items: center;
    font-size: 14px; /* Taille de police */
    color: #333;
    z-index: 9999999999;
    margin: .66em;
}

.btn-FavoriteContainerCMSHome{
    position : relative;
    top:-14%;
    left: 80%;
}
.genreFilmCMS{
    display: flex;
    width:auto;
  color: white;
}
.genreCMS{
    position: relative;
    top: 2%;
  display: block;
    z-index: 100000000;
    width: auto;
    padding-left: .33em;
    padding-right: .33em;
}
.btn-seeAll{
    position: absolute;
    top:calc(60vh + 55vh);
    left: 67vw;
    margin: 1.66em 0;
    background-color:white ; /* Primary background color */
    color:rgb(97, 97, 97); /* White text or icon color */
    font-size: 14px; /* Adjust font size for content */
    cursor: pointer; /* Indicates button is clickable */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adds subtle shadow */
    transition: all 0.3s ease;
    border: 1px solid rgb(97, 97, 97);
    border-radius:16px;
    padding:.33em 1.33em .33em 1.33em;
}
.btnComingSeeALl{
    position: absolute;
    top:calc(60vh + 55vh);
    left: 67vw;
    margin: 1.66em 0;
    background-color:white ; /* Primary background color */
    color:rgb(97, 97, 97); /* White text or icon color */
    font-size: 14px; /* Adjust font size for content */
    cursor: pointer; /* Indicates button is clickable */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adds subtle shadow */
    transition: all 0.3s ease;
    border: 1px solid rgb(97, 97, 97);
    border-radius:16px;
    padding:.33em 1.33em .33em 1.33em;

}