.Container-Series{
    position: absolute;
    top : 10%;
    left : 13vw;
    margin-left: 1em;
}
.Title-Container{
    display: flex;
    margin:1.66em;
    
}

.ListSeries-Container{
    position: relative;
    top: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 78vw;
}
.TitleSerieContainer{
    position: relative;
    top:53%;
}
.TitleSerie{
    font-size: 14pt;
    font-weight: 700;
    color: white;
    padding: .33em;
}
.descriptionContainer{
    max-width: 60vw;
    position: absolute;
    top:12vh;
    left: 7vw;
}
.Description{
    padding:.66em;
    font-size: 10pt;
}
/* ... other detail styles */
.Title-Container{
    position :absolute;
    left: 6vw;
}
.showMoreOptions{
    position:absolute;
    top:2vh;
    left: 80vw;
    height: 30px;
    width: 30px;
    background-color: white;
    border: 1px solid #9191918f;
    border-radius: 5px;
    font-size: 14pt;
    color: #919191;
    cursor: pointer;
    transition: all 250ms 150ms ease;
    &:hover{
        background-color: #8B5DFF;
        color: white;
    }
    &:focus{
        background-color: #8B5DFF;
        color: white;
    }
}
/* Style global pour la scrollbar */
.Container-Series::-webkit-scrollbar {
    width: 10px; /* Largeur de la scrollbar */
    height: 10px; /* Hauteur de la scrollbar (pour le scroll horizontal) */
  }
  
  /* Track (fond de la scrollbar) */
  .Container-Series::-webkit-scrollbar-track {
    background: #f1f1f1; /* Couleur du fond */
    border-radius: 5px;
  }
  
  /* Thumb (la partie déplaçable) */
  .Container-Series::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #6a11cb, #2575fc); /* Dégradé */
    border-radius: 5px;
  }
  
  /* Thumb en hover (survol) */
  .Container-Series::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #2575fc, #6a11cb); /* Couleur en survol */
  }
  /* card details style */
  .btn-FavoriteSerieHome{
    position: relative;
    top:4%;
    left: 80%;
  }
  .btn-favoriteHomeSerie{
    margin:  .33em;
    border-radius: 50%; /* Forme circulaire */
    background: rgba(255, 255, 255, 0.3); /* Fond semi-transparent */
    backdrop-filter: brightness(0.9) blur(4px); /* Effet de luminosité et de flou */
    -webkit-backdrop-filter: brightness(0.9) blur(9px); /* Compatibilité avec Safari */
    width: 30px; /* Largeur de l'élément */
    height: 30px; /* Hauteur de l'élément */
    color: white; /* Couleur du texte */ /* Espacement interne */
    border: 1px solid white; /* Bordure blanche */
    font-size: 14pt; /* Taille de la police */
    text-align: center;
    display: inline-flex; 
    font-weight: 300;
    align-items: center;/* Alignement du texte */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer; 
 
  }
  .genreSerieContainer{
    position: relative;
    top:37%;
    left:5%;
    display: flex;
    justify-content: start;
  }
  .genreSerie{
    color: white;
  }
  .btnWatchDetails{
    position: absolute;
    top: 4%;
    right:18%;

  }
.FaPlay{
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 10pt;
  margin:.33em 0;
  color: white;
  backdrop-filter: brightness(0.9) blur(4px);
  -webkit-backdrop-filter: brightness(0.9) blur(9px);
  background: rgba(255, 255, 255, 0.3); 
  border-radius: 50%;
  width:30px;
  height: 30px;
  align-items: center;
  border : 1px solid white;
}