.serieDetails{

    position: absolute;
    top:60vh;
    left : 20vw;
    padding: 0 1em;
    border-radius :16px;
    border: none;

}
.SerieTitle{
    font-size: 15pt;

}
.SerieOverview{
    display: block ;
    width:60vw;
    font-size: 11pt;
}
.genreBtn{
    position: absolute;
    top:4%;
    left : 15%;
    width: auto;
    padding: .33em 1em;
    margin: .33em;
    background-color: #ede8f9;
    backdrop-filter: brightness(0.9) blur(4px);
    -webkit-backdrop-filter: brightness(0.9) blur(4px);
    border: 1px solid white;
    border-radius: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color:#8B5DFF;
}
.castsList{
    position : relative;
    top:20%;
    display: flex;
    justify-content: space-evenly;
}
.imgprofile {
    width: 100px; /* Adjust as needed for your design */
    height: 100px; /* Match width for a square shape */
    overflow: hidden; /* Ensures the image doesn't overflow the container */
    border-radius: 50%; /* Makes the container circular */
    display: flex; /* Centers the image */
    align-items: center;
    justify-content: center;
    border: 2px solid #ccc; /* Optional border */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for better appearance */
    margin: 10px auto; /* Center and add spacing */
  }
  
  .imgprofile img {
    width: 100%; /* Make the image fill the container */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure the image covers the container without stretching */
  }
  