/* loader.css */
/* .LoaderContainer{
    position: absolute;
    top:90vw; 
    margin:0 auto;
    z-index: 999999999;
} */
.loader {
    border: 8px solid #f3f3f3; /* Light grey background */
    border-top: 8px solid #8B5DFF; /* Blue foreground */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  